@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*-- scss:defaults --*/

// Colors
$darker-green: #515B48;
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $dark-green; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $dark-green; // hyperlinks

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  color: $darker-green;
}

body {
  font-family: 'Lora', Lora;
}